.bannertop{
    width: 35vh;
    display: flex;
    margin: auto;
    margin-top: 20vh;
}
.bannertop > img, .bannertop > h3{
    display: grid;
    place-items: center;
    margin: auto;
    height: 200px;
    border-radius: 20px;

}